.btn {
    display: inline-block;
    vertical-align: top;
    padding: 18px 43px;

    background: rgba(55, 124, 253, 1);
    border: none;
	border-radius: 76px;
	box-shadow: 0 23px 55px 12px rgba(55, 124, 253, 0.2);
    cursor: pointer;

    font-family: inherit;
    font-size: 20px;
    line-height: 1.1;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}