.home__container {
	max-width: 1900px;
	margin: 0 auto;
	padding: 0 10px;
}

.home__inner {
	position: relative;
	min-height: 1050px;
	background: url("../images/bg.webp") center no-repeat;
	border-radius: 45px;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		border-bottom: 100px solid #fff; 
		border-right: 100% solid transparent;
	}
}

.home__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 140px 250px;
}

.home__left {
	width: 58%;
}

.home__left {
	color: #fff;
}

.home__title {
	font-size: 50px;
	font-weight: 700;
}

.home__subtitle {
	position: relative;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.4;
	padding-left: 65px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 31px;
		height: 31px;
		background: url("../images/Shape.png") center no-repeat;
	}
}