<div class="home">
	<div class="home__container">
		<div class="home__content">
			<div class="home__left">
				<h1 class="home__title">«STANDARD CEMENT»</h1>
				<p class="home__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor
					placerat nibh arcu, purus mauris elementum libero et. Morbi morbi at montes, aenean. Nisl
					adipiscing adipiscing ultricies ut nunc eu. Vitae eget in morbi amet, tempor tortor cursus.</p>
			</div>
			<div class="home__right">
				<div class="form__modal">
					<h2 class="form__title">Сделать заказ</h2>
					<form class="form__modal-add" action="">
						<input class="form__modal-input" type="text" placeholder="Enter your username">
						<input class="form__modal-input" type="email" placeholder="Enter your email">
						<input class="form__modal-input" type="number" placeholder="Phone Number">
						<textarea class="form__modal-textarea" name="" id="" cols="30" rows="10"
							placeholder="Comment"></textarea>
						<div class="btn  btn-orange">Contact Us</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="home__footer">
				<div class="home__footer-row">
					<div class="home__footer-left">
						<h2 class="home__footer-title">«СТАНДАРТНЫЙ ЦЕМЕНТ»</h2>
						<div class="home__footer-subtitle">КРУПНЕЙШИЙ ЦЕМЕНТНЫЙ ЗАВОД В УЗБЕКИСТАНЕ ПО НОВОЙ ТЕХНОЛОГИИ
						</div>
						<p class="home__footer-descr">Мы первыми в Узбекистане применили «сухой метод» производства
							цемента.
						</p>
						<p class="home__footer-descr"> Полностью новое оборудование, установленное на заводе,
							позволяет значительно снизить затраты на
							электроэнергию.</p>
						<p class="home__footer-descr">
							Это снижает стоимость цемента по сравнению с традиционными технологиями.</p>
						<button class="btn  btn-orange  btn-mt" type="button">More</button>
					</div>
					<div class="home__footer-right">
						<img class="home__footer-img" src="assets/images/home-img.webp" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>