<div class="offer">
	<div class="container">
		<div class="offer__inner">
			<h4 class="offer__title">МЫ ПРЕДЛАГАЕМ</h4>
			<div class="offer__subtitle">ДОПОЛНИТЕЛЬНЫЙ СЕРВИС ДЛЯ НАШИХ ПАРТНЕРОВ</div>
			<div class="offer__row">
				<div class="offer__items">
					<div class="offer__item-header">
						<img class="offer__item-img" src="assets/images/offer-1.webp" alt="">
					</div>
					<div class="offer__item-content">
						<p class="offer__item-content-text">Example title</p>
					</div>
				</div>
				<div class="offer__items">
					<div class="offer__item-header">
						<img class="offer__item-img" src="assets/images/offer-2.webp" alt="">
					</div>
					<div class="offer__item-content">
						<p class="offer__item-content-text">Example title</p>
					</div>
				</div>
				<div class="offer__items">
					<div class="offer__item-header">
						<img class="offer__item-img" src="assets/images/offer-3.webp" alt="">
					</div>
					<div class="offer__item-content">
						<p class="offer__item-content-text">Example title</p>
					</div>
				</div>
				<div class="offer__items">
					<div class="offer__item-header">
						<img class="offer__item-img" src="assets/images/offer-4.webp" alt="">
					</div>
					<div class="offer__item-content">
						<p class="offer__item-content-text">Example title</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>