<div class="products">
	<div class="container">
		<div class="products__content">
			<h3 class="products__title">АССОРТИМЕНТ</h3>
			<div class="products__row">
				<div class="products__left">
					<img class="products__left-img" src="assets/images/products-1.webp" alt="">
					<div class="product__descr">ЦЕМ II/A-Ш 32,5Н(ПЦ 400 Д20)</div>
				</div>

				<div class="products__right">
					<div class="products__right-items">
						<img class="products__right-img" src="assets/images/products-2.webp" alt="">
						<div class="product__descr  product__descr-mod">ЦЕМ II/A-Ш 32,5Н (ПЦ 400 Д20)</div>
					</div>
					<div class="products__right-items">
						<img class="products__right-img" src="assets/images/products-3.webp" alt="">
						<div class="product__descr  product__descr-mod">ЦЕМ II/A-Ш 32,5Н (ПЦ 400 Д20)</div>
					</div>
					<div class="products__right-items">
						<img class="products__right-img" src="assets/images/products-4.webp" alt="">
						<div class="product__descr  product__descr-mod">ЦЕМ II/A-Ш 32,5Н (ПЦ 400 Д20)</div>
					</div>
					<div class="products__right-items">
						<img class="products__right-img" src="assets/images/products-3.webp" alt="">
						<div class="product__descr  product__descr-mod">ЦЕМ II/A-Ш 32,5Н (ПЦ 400 Д20)</div>
					</div>
				</div>
			</div>
		</div>	<!-- products__content -->

		<div class="products__footer">
			<div class="scheme">
				<h3 class="scheme__title">СХЕМА ЗАКУПКИ ЦЕМЕНТА</h3>
				<div class="scheme__row">
					<div class="scheme__items">
						<div class="scheme__header">
							<img src="assets/images/time.png" alt="">
						</div>
						<div class="scheme__content">
							<h4 class="scheme__content-title">Менее 60 тонн</h4>
							<ul class="scheme__list">
								<li class="scheme__list-items">
									<a>Оплата наличными в кассу или перечисление</a>
								</li>
								<li class="scheme__list-items">
									<a>Получение товара</a>
								</li>
							</ul>
						</div>
						<div class="scheme__footer">
							<div class="btn  btn-scheme">Скачать образец PDF</div>
						</div>
					</div>	<!-- scheme__items -->

					<div class="scheme__items">
						<div class="scheme__header">
							<img src="assets/images/time.png" alt="">
						</div>
						<div class="scheme__content">
							<h4 class="scheme__content-title">Менее 60 тонн</h4>
							<ul class="scheme__list">
								<li class="scheme__list-items">
									<a>Заключение договора с нами</a>
								</li>
								<li class="scheme__list-items">
									<a>Оплата</a>
								</li>
								<li class="scheme__list-items">
									<a>Получение товара</a>
								</li>
							</ul>
						</div>
						<div class="scheme__footer">
							<div class="btn  btn-scheme">Скачать образец PDF</div>
						</div>
					</div>	<!-- scheme__items -->
				</div>
			</div>
		</div>	<!-- products__footer -->
	</div>	<!-- container -->
</div>	<!-- products -->


