<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__row">
				<div class="footer__item">
					<div class="footer__logo">
						<a href="#">ofsp_ce</a>
						<p class="footer__descr">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
					</div>
				</div>	<!-- footer__item -->

				<div class="footer__item  footer-flex">
					<ul class="footer__list">
						<li class="footer__list-item">
							<h5>Company</h5>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="#">About</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="#">Careers</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="#">Mobile</a>
						</li>
					</ul>

					<ul class="footer__list">
						<li class="footer__list-item">
							<h5>Contact</h5>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="#">Help/FAQ</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="#">Press</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="#">Affiliates</a>
						</li>
					</ul>

					<ul class="footer__list">
						<li class="footer__list-item">
							<h5>More</h5>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="#">Airline fees</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="#">Airlines</a>
						</li>
						<li class="footer__list-item">
							<a class="footer__list-link" href="#">Low fare tips</a>
						</li>
					</ul>
				</div>	<!-- footer__item -->

				<div class="footer__item">
					<h5 class="footer__app">Discover Our App</h5>
					<div class="footer__app-btns">
						<div class="footer__app-btn">
							<img src="" alt="">
						</div>
						<div class="footer__app-btn">
							<img src="" alt="">
						</div>
					</div>
					<div class="footer__app-socials">
						<div class="footer__app-social">
							<img src="" alt="">
						</div>
						<div class="footer__app-social">
							<img src="" alt="">
						</div>
						<div class="footer__app-social">
							<img src="" alt="">
						</div>
					</div>
				</div>
			</div>	<!-- footer__row -->
		</div>	<!-- footer__inner -->
	</div>	<!--container -->
</footer>
