<div class="home">
	<div class="home__container">
		<div class="home__inner">
			<div class="home__content">
				<div class="home__left">
					<h1 class="home__title">«STANDARD CEMENT»</h1>
					<p class="home__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tortor placerat nibh arcu, purus mauris elementum libero et. Morbi morbi at montes, aenean. Nisl adipiscing adipiscing ultricies ut nunc eu. Vitae eget in morbi amet, tempor tortor cursus.</p>
				</div>
				<div class="home__right">
					<div class="form__modal">
						<h2 class="form__title">Сделать заказ</h2>
						<form class="form__modal-add" action="">
							<input class="form__modal-input" type="text" placeholder="Enter your username">
							<input class="form__modal-input" type="email" placeholder="Enter your email">
							<input class="form__modal-input" type="number" placeholder="Phone Number">
							<textarea class="form__modal-textarea" name="" id="" cols="30" rows="10" placeholder="Comment"></textarea>
							<div class="btn  btn-orange">Contact Us</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>