<div class="news">
	<div class="news__container">
		<div class="uk-slider-container-offset" uk-slider>
			<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
	
				<ul class="uk-slider-items uk-child-width-1@s uk-grid">
					<li class="news__item">
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
					</li>
					<li class="news__item">
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
					</li>
					<li class="news__item">
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
					</li>
					<li class="news__item">
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
						<div class="uk-card uk-card-default">
							<div class="uk-card-media-top">
								<img src="http://placehold.it/339x361" alt="">
							</div>
							<div class="uk-card-body  padding-zero">
								<time datetime="2020-12-01">01.12.20</time>
								<h3 class="uk-card-title">MASS RECRUITMENT OF LINE PERSONNEL</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
						</div>
					</li>
				</ul>
		
				<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
				<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
			</div>
		
			<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin  news__arrow"></ul>
	</div>
	</div>
</div>
